<style>{% include "css-serpinski-triangle/serpinski.css" %}</style>
<div id="serpinski-triangle">
  <div>
    <div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
    </div>
    <div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
    </div>
    <div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
    </div>
  </div>
  <div>
    <div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
    </div>
    <div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
    </div>
    <div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
    </div>
  </div>
  <div>
    <div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
    </div>
    <div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
    </div>
    <div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
      <div> <div></div> <div></div> <div></div> </div>
    </div>
  </div>
</div>
