#golden1 > div {
  height: 191px;
  left: 0;
  position: relative;
  width: 309px;
}

#golden1 div {
  background: rgba(255,255,255,0.1);
  outline: 1px black solid;
}

#golden1 div > div {
  height: 61.8%;
  width: 61.8%;
  z-index: 100;
}