.CodeWidget {
  margin-bottom: 3.5em;
  position: relative;
}
.CodeWidget > .content { display: none; }

.CodeWidget [type=radio] { display: none; }
.CodeWidget [type=radio]:checked + .content { display: block; }
.CodeWidget .labels label {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  display: inline-block;
  padding: 3px 6px;
  margin: 2px 10px 5px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  cursor: pointer;
  text-decoration: none;
}
.CodeWidget .labels label:after {
  content: attr(class);
}
.CodeWidget .labels label.demo { color: inherit }
.CodeWidget .labels label.html { color: #d14; }
.CodeWidget .labels label.css { color: #66d9ef; }

.first-image {
  float: left;
  margin: 0 1em 1em 0;
  max-width: 50%;
}

@media (max-width: 767px) {
  .first-image {
    float: none;
    margin: 0 auto 1em;
    max-width: 100%;
  }
}

/* overrides */
.table-striped {
  border: 1px solid;
  margin-bottom: 3em;
}

.table-striped td {
  padding: 10px;
}

h1 { margin-top: 50px; }
h1:first-child { margin-top: 25px; }
pre {
  margin-bottom: 50px;
}