<link rel="stylesheet" href="/project-assets/serpinski.css"></link>
<div id="serpinski-triangle">
  <div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
  </div>
  <div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
  </div>
  <div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
  </div>
</div>
