<style>{% include projects/serpinski/serpinski.css %}</style>
<div id="serpinski-triangle">
  <div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
  </div>
  <div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
  </div>
  <div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
    <div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div><div><div> </div><div> </div><div> </div></div></div>
  </div>
</div>
