$hover: #333;
$selected: #ffff88;

.board {
  padding-top: 100%;
  position: relative;
  width: 100%;
  .sudoku, .clickMask {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .cell {
    height: 11.1111%;
    width: 11.1111%;
  }
  .sudoku {
    border: solid black;
    border-width: 3px 2px 2px 3px;
    .cell {
      align-items: center;
      border: black solid;
      border-width: 0 1px 1px 0;
      display: flex;
      justify-content: center;
      &.x-2, &.x-5 {
        border-right-width: 3px;
      }
      &.y-2, &.y-5 {
        border-bottom-width: 3px;
      }
      &.hover {
        box-shadow: inset gray 0 0 0 3px;
      }
      &.selected {
        background: $selected;
      }
    }
  }
}