<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <link rel="stylesheet/less" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.less" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/railscasts.min.css">
  <script>
    less = {
      env: "development",
      async: false,
      fileAsync: false,
    };
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  <!--[if IE]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
</head>

<body id="index" class="home">
  {% include 'github.html' %}
  {% include "_header.html" %}
  <div class="outer">
    <div id="main">{% block content %}{% endblock %}</div>
    <div id="sidebar">
      <div class="widget-wrap">
        <h3 class="title">Categories</h3>
        <div class="widget">
          <ul>
            {% for cat, null in categories %}
            <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer id="contentinfo" class="body">
    <address id="about" class="vcard body">
      Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
    </address><!-- /#about -->

    <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
  </footer><!-- /#contentinfo -->

  {% include 'analytics.html' %}
  {% include 'disqus_script.html' %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="https://cdn.jsdelivr.net/riot/2.3/riot+compiler.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
  <script src="/theme/unrest/markdown.tag" type="riot/tag"></script>
  <script src="/theme/unrest/tabs.tag" type="riot/tag"></script>
  <script>riot.mount("markdown,ur-tabs")</script>
</body>
</html>
